{% block entity_autocomplete_row %}
    <div class="form-group">
        {% block entity_autocomplete_label %}
            {% spaceless %}
                {% if not compound %}
                    {% set label_attr = label_attr|merge({'for': id}) %}
                {% endif %}
                {% if required %}
                    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
                {% endif %}
                {% if label is empty %}
                    {% set label = name|humanize %}
                {% endif %}
                <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
            {% endspaceless %}
        {% endblock %}
        {% block entity_autocomplete_widget %}
            {% spaceless %}
                <input {% if required %}required="required"{% endif %} class="form-control"
                       id="{{ form.vars.id }}" name="{{ form.vars.full_name }}" type="hidden"
                       value="{{ form.vars.value['id'] }}">
                <input type=text class="form-control" title="" value="{{ form.vars.value['label'] }}"
                       {% if required %}required="required"{% endif %}
                        {% if form.vars.disabled %}disabled{% endif %}
                         {% for attrname, attrvalue in attr %}{{ attrname }}="{{ attrvalue }}"{% endfor %}
                       data-autocomplete="{{ form.vars.action }}"
                       data-autocomplete-storage="#{{ form.vars.id }}"
                        {% if form.vars.attr.autocomplete_group is defined %}
                            data-autocomplete-group="{{ form.vars.attr.autocomplete_group }}"
                        {% endif %}
                        {% if form.vars.attr.autocomplete_term is defined %}
                            data-autocomplete-term="{{ form.vars.attr.autocomplete_term }}"
                        {% endif %}
                        {% if form.vars.attr.autocomplete_label is defined %}
                            data-autocomplete-label="{{ form.vars.attr.autocomplete_label }}"
                        {% endif %}
                        {% if form.vars.attr.autocomplete_id is defined %}
                            data-autocomplete-id="{{ form.vars.attr.autocomplete_id }}"
                        {% endif %}
                        />
                {% if form.vars.attr.help_text is defined %}
                    <small class="help-block">{{ form.vars.attr.help_text | raw }}</small>
                {% endif %}
            {% endspaceless %}
        {% endblock %}
    </div>
{% endblock %}


{% block choice_group_row %}
    <div class="form-group">
        {% block choice_group_label %}
            {% spaceless %}
                {% if not compound %}
                    {% set label_attr = label_attr|merge({'for': id}) %}
                {% endif %}
                {% if required %}
                    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
                {% endif %}
                {% if label is empty %}
                    {% set label = name|humanize %}
                {% endif %}
                <label
                {% for attrname, attrvalue in label_attr %}
                    {{ attrname }}="{{ attrvalue }}"
                {% endfor %}
                >{{ label|trans({}, translation_domain) }}</label>
            {% endspaceless %}
        {% endblock %}
        {% block choice_group_widget %}
            {% spaceless %}
                <select title
                        {% if required %}required="required"{% endif %}
                        class="form-control"
                        {% if enable_hider %}
                            data-hider="true"
                            data-hider-group="{{ hider_group }}"
                        {% endif %}
                        {% if form.vars.disabled %}disabled{% endif %}
                        id="{{ form.vars.id }}" name="{{ form.vars.full_name }}">
                    {% if empty_value is not none %}
                        <option value=''
                                {% if required %}disabled{% endif %} {% if required and value is empty %} selected{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
                    {% endif %}
                    {% for name,group in choice_groups %}
                        <optgroup
                                label="{{ (group.label is defined ? group.label : name) |trans({}, translation_domain) }}">
                            {% for key,choice in group.choices %}
                                <option
                                        {% if key == value %} selected="selected"{% endif %}
                                        {% if enable_hider %}
                                            data-hider-target="{{ group.hider_target }}"
                                        {% endif %}
                                        value="{{ key }}">{{ choice |trans({}, translation_domain) }}</option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
                {% if help is defined %}
                    <small class="help-block">{{ help | raw }}</small>
                {% endif %}
            {% endspaceless %}
        {% endblock %}
    </div>
{% endblock %}

{% block key_value_entry_row %}
    {% block key_value_entry_widget %}
        {{ form_label(form.key,null,{'label_attr':{'class':'input-group-addon'} }) }}
        {{ form_widget(form.key) }}
        {{ form_label(form.value,null,{'label_attr':{'class':'input-group-addon'} }) }}
        {{ form_widget(form.value) }}
    {% endblock %}
{% endblock %}

{% block key_value_collection_widget %}
    {% set prototype_html = form_widget(prototype) %}
    {% if form.vars.allow_delete %}
        {% set prototype_html =
        '<div class="input-group form-group">' ~
        prototype_html ~
        '<div class="input-group-btn">' ~
        '<a href="#" class="btn btn-danger" data-removefield="collection"' ~
        'data-field="__id__">' ~ form.vars.delete_button_text|trans({}, translation_domain) ~ '</a>' ~
        '</div>' ~
        '</div>' %}
    {% endif %}
    <div class="panel-body" id="{{ form.vars.id }}" data-prototype="{{ prototype_html  |e }}"
         data-prototype-name="{{ prototype_name }}">
        <ul class="bc-collection list-unstyled form-group">
            {% for sform in form %}
                <li>
                    <div class="input-group form-group">
                        {{ form_row(sform) }}
                        {% if form.vars.allow_delete %}
                            <div class="input-group-btn">
                                <a href="#" class="btn btn-danger" data-removefield="collection"
                                   data-field="{{ sform.vars.id }}">{{ form.vars.delete_button_text|trans({}, translation_domain) }}</a>
                            </div>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% if form.vars.allow_add %}

            <a href="#" class="btn btn-primary btn-small" data-addfield="collection"
               data-collection="{{ form.vars.id }}"
               data-prototype-name="{{ prototype_name }}">{{ form.vars.add_button_text|trans({}, translation_domain) }}</a>

        {% endif %}
    </div>
{% endblock %}

{% block datetime_local_widget %}
    <input {% if required %}required="required"{% endif %}  {% if form.vars.disabled %}disabled{% endif %}
           class="form-control" {% for attrname, attrvalue in attr %}{{ attrname }}="{{ attrvalue }}"{% endfor %}
           id="{{ form.vars.id }}" name="{{ form.vars.full_name }}" type="datetime-local"
           value="{{ form.vars.value }}">
{% endblock %}

{% use 'BraincraftedBootstrapBundle:Form:bootstrap.html.twig' with form_widget_simple as base_form_widget_simple %}
{% use 'BraincraftedBootstrapBundle:Form:bootstrap.html.twig' with checkbox_row as base_checkbox_row %}

{% block form_widget_simple %}
    {{ block('base_form_widget_simple') }}

    {% if help is defined %}
        <small class="help-block">{{ help | raw }}</small>
    {% endif %}
{% endblock %}

{% block checkbox_row %}
    {{ block('base_checkbox_row') }}

    {% if help is defined %}
        <small class="help-block">{{ help | raw }}</small>
    {% endif %}
{% endblock %}